@import "../../global/styles/color.scss";

.productsContainer {
  display: flex;
  flex-direction: column;
  h1{
    text-align: center;
    color: #333333;
  }
}

.loading{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cakeContainer{
  margin-top: 1rem;
}

.cardsContainer {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow-x: auto;
  max-width: 100%;
  margin-bottom: 1rem;
  box-sizing: content-box;
  padding-bottom: 1rem;
}

.cardsContainer::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

.cardsContainer::-webkit-scrollbar-track {
  background: transparent; 
}

.cardsContainer::-webkit-scrollbar-thumb {
  background-color: $green;
  border-radius: 10px;
}

.cardsContainer::-webkit-scrollbar-button {
  display: none; 
}

.cardsContainer > * {
  width: 300px;
}