.mainContainer {
  background-color: #fff;
  width: 100%;
  height: 100vh;
}

.drinksScreen {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (max-width: 768px) {
    .drinksScreen{
        flex-direction: column;
        align-items: center;
        margin: 1rem 0 0 0;
        justify-content: flex-start;
    }   
}