@import "../../global/styles/color.scss";
.cardContainer {
  width: 60%;
  height: 30%;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
  }
}

.blackOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.textInformationsContainer {
  width: 100%;
  position: absolute;
  top: 10%;
  color: #fff;
  z-index: 3;

  h1 {
    font-size: 3rem;
    text-align: center;
  }

  span {
    font-size: 2.3rem;
  }

  .row {
    margin-top: 0.6rem;
    position: absolute;
    width: 50%;
    height: 1%;
    background-color: #fff;
    left: 25%;
    border-radius: 1rem;
  }
}

.description {
  margin: 2rem;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 20px;
  span {
    font-size: 1.5rem;
  }
  #edit{
    color: $green;
  }

  #remove{
    color: $red
  }
}

@media (max-width: 1200px) {
  .cardContainer {
    width: 50%; /* Reduz o tamanho do card */
    height: 35%; /* Ajusta a altura do card */
  }

  .textInformationsContainer {
    top: 25%; /* Ajusta o texto para a parte superior */
  }

  .textInformationsContainer h1 {
    font-size: 2.5rem; /* Reduz o tamanho da fonte em telas menores */
  }

  .textInformationsContainer span {
    font-size: 2rem;
  }
}

/* Para telas menores que 768px (exemplo: dispositivos móveis) */
@media (max-width: 768px) {
  .cardContainer {
    width: 80%; /* Os cards ficam maiores em dispositivos móveis */
    height: 40%; /* A altura do card aumenta */
  }

  .textInformationsContainer {
    top: 20%; /* Ajusta o texto para um local mais acessível */
    padding: 0 0.5rem; /* Menos padding em telas pequenas */
  }

  .textInformationsContainer h1 {
    font-size: 2rem; /* Reduz o tamanho da fonte em telas menores */
  }

  .textInformationsContainer span {
    font-size: 1.6rem; /* Ajuste de fonte */
  }

  .description {
    margin: 1rem; /* Reduz a margem da descrição */
  }
}

/* Para telas muito pequenas (como celulares em modo retrato) */
@media (max-width: 480px) {
  .cardContainer {
    width: 90%; /* Faz o card ocupar mais espaço */
    height: 50%; /* Aumenta a altura para melhor exibição */
  }

  .textInformationsContainer {
    top: 15%; /* Ajuste para centralizar melhor o texto */
    padding: 0 1rem; /* Padding maior para telas menores */
  }

  .textInformationsContainer h1 {
    font-size: 1.8rem; /* Menor ainda o tamanho da fonte */
  }

  .textInformationsContainer span {
    font-size: 1.4rem;
  }
}
