#header {
  background-color: #d1c4b6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  h1 {
    font-size: 1.5rem;
    color: #4e342e;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.logoContainer img {
  width: 6%;
  height: 6%;
  min-height: 5rem;
  min-width: 5rem;
  margin-left: 8px;
}

.headerText {
  color: white;
  margin: 0;
}

.menuContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.setDrawer {
  display: none;
}

@media (max-width: 800px) {
  .menuContainer {
    display: none;
  }

  .logoContainer {
    width: 100%;
    justify-content: center;
    margin: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 0;
  }

  .setDrawer {
    display: inherit;
    width: 8rem;
    gap: 1rem;
    justify-content: center;
    color: #556B2F;
    .headerIcon{
      font-size: 1.5rem;
      height: 100%;
    }
  }

}
